{% load static %}
{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Horses</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% tailwind_preload_css %}
    {% tailwind_css %}
    <script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
  </head>
  <body>
    {% load navbar %}
    {% navbar active username %}

    <div class="m-4">{% block content %} {% endblock %}</div>
  </body>
</html>
