{% extends "cs3300_project/base_template.html" %}

{% block content %}
<div class="hero min-h-[70vh]">
    <div class="hero-content flex-col lg:flex-row-reverse gap-10">
      <div class="text-center lg:text-left">
        <h1 class="text-5xl font-bold">Create account!</h1>
        <p class="py-6">Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem quasi. In deleniti eaque aut repudiandae et a id nisi.</p>
      </div>
      <div class="card shrink-0 w-full max-w-sm shadow-2xl bg-base-100">
        <form class="card-body" method="POST", action="">
            {% csrf_token %}
            <div class="form-control">
                <label class="label">
                <span class="label-text">Username</span>
                </label>
                <input type="username" name="username" placeholder="Enter your username" class="input input-bordered" required />
                {{ form.username.errors }}
            </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Email</span>
            </label>
            <input type="email" name="email" placeholder="Enter your email" class="input input-bordered" required />
            {{ form.email.errors }}
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Password</span>
            </label>
            <input type="password" name="password1" placeholder="Enter your password" class="input input-bordered" required />
            {{ form.password1.errors }}
          </div>
          <div class="form-control">
            <label class="label">
              <span class="label-text">Confirm Password</span>
            </label>
            <input type="password" name="password2" placeholder="Enter your password" class="input input-bordered" required />
            {{ form.password2.errors }}
          </div>
          <div class="form-control mt-6">
            <button class="btn btn-primary">Create</button>
          </div>
          <label class="label">
            <a class="label-text-alt link link-hover text-center m-auto" href="{% url 'login' %}">Already have an account?</a>
          </label>
        </form>
      </div>
    </div>
  </div>
{% endblock %}